<style>
.jumbotron{
  margin-left: 30%;
  margin-right:30%;
  background-color: rgba(255,255,255,0.5);
  border-radius:5px;
  font-size:20px;
}
</style>

<%= render '/shared/title', title: '舉報奧客'%>

<div class="jumbotron text-center">

  <%= render 'form', badguest: @badguest %>

  <br>

  <%= link_to 'Back', badguests_path,class:'btn btn-lg btn-success', id:'show_btn' %>

</div>